# fullstory.rules

# acer-apci start
create repository export/fullstory.morgue/acer-acpi.git
end repository

match /acer-acpi/trunk/
	repository export/fullstory.morgue/acer-acpi.git
	branch master
end match

match /acer-acpi/branches/upstream/current/
	repository export/fullstory.morgue/acer-acpi.git
	branch upstream
end match

match /acer-acpi/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/acer-acpi.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /acer-acpi/tags/([^/]+)/
	repository export/fullstory.morgue/acer-acpi.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# acer-acpi end


# acerhk start
create repository export/fullstory.morgue/acerhk.git
end repository

match /acerhk/trunk/
	repository export/fullstory.morgue/acerhk.git
	branch master
end match

match /acerhk/branches/upstream/current/
	repository export/fullstory.morgue/acerhk.git
	branch upstream
end match

match /acerhk/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/acerhk.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /acerhk/tags/([^/]+)/
	repository export/fullstory.morgue/acerhk.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# acerhk end


# apt-conf-aptosid start
create repository export/fullstory/apt-conf-aptosid.git
end repository

match /(apt-conf-sidux|apt-conf-aptosid)/trunk/
	repository export/fullstory/apt-conf-aptosid.git
	branch master
end match

match /(apt-conf-sidux|apt-conf-aptosid)/tags/([^/]+)/
	repository export/fullstory/apt-conf-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# apt-conf-aptosid end


# aptosid-art-apate start
create repository export/fullstory/aptosid-art-apate.git
end repository

match /aptosid-art-apate/trunk/
	repository export/fullstory/aptosid-art-apate.git
	branch master
end match

match /aptosid-art-apate/tags/([^/]+)/
	repository export/fullstory/aptosid-art-apate.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# aptosid-art-apate end


# aptosid-art-geras start
create repository export/fullstory/aptosid-art-geras.git
end repository

match /aptosid-art-geras/trunk/
	repository export/fullstory/aptosid-art-geras.git
	branch master
end match

match /aptosid-art-geras/tags/([^/]+)/
	repository export/fullstory/aptosid-art-geras.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# aptosid-art-geras end


# aptosid-art-imera start
create repository export/fullstory/aptosid-art-imera.git
end repository

match /aptosid-art-imera/trunk/
	repository export/fullstory/aptosid-art-imera.git
	branch master
end match

match /aptosid-art-imera/tags/([^/]+)/
	repository export/fullstory/aptosid-art-imera.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# aptosid-art-imera end


# aptosid-art-keres start
create repository export/fullstory/aptosid-art-keres.git
end repository

match /(sidux|aptosid)-art-keres/trunk/
	repository export/fullstory/aptosid-art-keres.git
	branch master
end match

match /(sidux|aptosid)-art-keres/tags/([^/]+)/
	repository export/fullstory/aptosid-art-keres.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-art-keres end


# aptosid-art-legacy start
create repository export/fullstory/aptosid-art-legacy.git
end repository

match /(sidux|aptosid)-art-legacy/trunk/
	repository export/fullstory/aptosid-art-legacy.git
	branch master
end match

match /(sidux|aptosid)-art-legacy/tags/([^/]+)/
	repository export/fullstory/aptosid-art-legacy.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-art-legacy end


# aptosid-art-meta start
create repository export/fullstory/aptosid-art-meta.git
end repository

match /(sidux|aptosid)-art-meta/trunk/
	repository export/fullstory/aptosid-art-meta.git
	branch master
end match

match /(sidux|aptosid)-art-meta/tags/([^/]+)/
	repository export/fullstory/aptosid-art-meta.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-art-meta end


# aptosid-art-ponos start
create repository export/fullstory/aptosid-art-ponos.git
end repository

match /aptosid-art-ponos/trunk/
	repository export/fullstory/aptosid-art-ponos.git
	branch master
end match

match /aptosid-art-ponos/tags/([^/]+)/
	repository export/fullstory/aptosid-art-ponos.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# aptosid-art-ponos end


# aptosid-irc start
create repository export/fullstory/aptosid-irc.git
end repository

match /(kanotix-irc|sidux-irc|aptosid-irc)/trunk/
	repository export/fullstory/aptosid-irc.git
	branch master
end match

match /(kanotix-irc|sidux-irc|aptosid-irc)/tags/([^/]+)/
	repository export/fullstory/aptosid-irc.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-irc end


# aptosid-keyring start
create repository export/fullstory/aptosid-keyring.git
end repository

match /(kanotix-keyring|sidux-keyring|aptosid-keyring)/trunk/
	repository export/fullstory/aptosid-keyring.git
	branch master
end match

match /(kanotix-keyring|sidux-keyring|aptosid-keyring)/tags/([^/]+)/
	repository export/fullstory/aptosid-keyring.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-keyring end


# aptosid-manual start
create repository export/fullstory/aptosid-manual.git
end repository

match /(sidux|aptosid)-manual/trunk/
	repository export/fullstory/aptosid-manual.git
	branch master
end match

match /(sidux|aptosid)-manual/branches/upstream/current/
	repository export/fullstory/aptosid-manual.git
	branch upstream
end match

match /(sidux|aptosid)-manual/branches/upstream/([^/]+)/
	repository export/fullstory/aptosid-manual.git
	branch refs/tags/upstream/\2
	substitute branch s/~/_/
end match

match /(sidux|aptosid)-manual/tags/([^/]+)/
	repository export/fullstory/aptosid-manual.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-manual end


# aptosid-scripts start
create repository export/fullstory/aptosid-scripts.git
end repository

match /(kanotix|sidux|aptosid)-scripts/trunk/
	repository export/fullstory/aptosid-scripts.git
	branch master
end match

match /(kanotix|sidux|aptosid)-scripts/tags/([^/]+)/
	repository export/fullstory/aptosid-scripts.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-scripts end


# ar5523 start
create repository export/fullstory.deprecated/ar5523.git
end repository

match /ar5523/trunk/
	repository export/fullstory.deprecated/ar5523.git
	branch master
end match

match /ar5523/tags/([^/]+)/
	repository export/fullstory.deprecated/ar5523.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ar5523 end


# atl1e start
create repository export/fullstory.morgue/atl1e.git
end repository

match /atl1e/trunk/
	repository export/fullstory.morgue/atl1e.git
	branch master
end match

match /atl1e/branches/upstream/current/
	repository export/fullstory.morgue/atl1e.git
	branch upstream
end match

match /atl1e/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/atl1e.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /atl1e/tags/([^/]+)/
	repository export/fullstory.morgue/atl1e.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# atl1e end


# b43-asm start
create repository export/fullstory/b43-asm.git
end repository

match /b43-asm/trunk/
	repository export/fullstory/b43-asm.git
	branch master
end match

match /b43-asm/branches/upstream/current/
	repository export/fullstory/b43-asm.git
	branch upstream
end match

match /b43-asm/branches/upstream/([^/]+)/
	repository export/fullstory/b43-asm.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /b43-asm/tags/([^/]+)/
	repository export/fullstory/b43-asm.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# b43-asm end


# busybox-sidux start
create repository export/fullstory.morgue/busybox-sidux.git
end repository

match /busybox-(kanotix|sidux)/trunk/
	repository export/fullstory.morgue/busybox-sidux.git
	branch master
end match

match /busybox-(kanotix|sidux)/branches/upstream/current/
	repository export/fullstory.morgue/busybox-sidux.git
	branch upstream
end match

match /busybox-(kanotix|sidux)/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/busybox-sidux.git
	branch refs/tags/upstream/\2
	substitute branch s/~/_/
end match

match /busybox-(kanotix|sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/busybox-sidux.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# busybox-sidux end


# ceni start
create repository export/fullstory/ceni.git
end repository

match /ceni/trunk/
	repository export/fullstory/ceni.git
	branch master
end match

match /ceni/tags/([^/]+)/
	repository export/fullstory/ceni.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ceni end


# cliinstaller start
create repository export/fullstory.deprecated/cliinstaller.git
end repository

match /cliinstaller/trunk/
	repository export/fullstory.deprecated/cliinstaller.git
	branch master
end match

match /cliinstaller/tags/([^/]+)/
	repository export/fullstory.deprecated/cliinstaller.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# cliinstaller end


# configure-cups start
create repository export/fullstory/configure-cups.git
end repository

match /(cupsconfig-kanotix|configure-cups)/trunk/
	repository export/fullstory/configure-cups.git
	branch master
end match

match /(cupsconfig-kanotix|configure-cups)/tags/([^/]+)/
	repository export/fullstory/configure-cups.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# configure-cups end


# desktop-defaults start
create repository export/fullstory/desktop-defaults.git
end repository

match /desktop-defaults/trunk/
	repository export/fullstory/desktop-defaults.git
	branch master
end match

match /desktop-defaults/tags/([^/]+)/
	repository export/fullstory/desktop-defaults.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# desktop-defaults end


# dmakms start
create repository export/fullstory/dmakms.git
end repository

match /dmakms/trunk/
	repository export/fullstory/dmakms.git
	branch master
end match

match /dmakms/tags/([^/]+)/
	repository export/fullstory/dmakms.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# dmakms end


# ddcxinfo start
create repository export/fullstory.morgue/ddcxinfo.git
end repository

match /ddcxinfo-(kanotix|sidux)/trunk/
	repository export/fullstory.morgue/ddcxinfo.git
	branch master
end match

match /ddcxinfo-(kanotix|sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/ddcxinfo.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ddcxinfo end


# firmware-carl9170 start
create repository export/fullstory.deprecated/firmware-carl9170.git
end repository

match /firmware-carl9170/trunk/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch master
end match

match /firmware-carl9170/branches/upstream/current/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch upstream
end match

match /firmware-carl9170/branches/upstream/([^/]+)/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /firmware-carl9170/tags/([^/]+)/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# firmware-carl9170 end


# fll-builder start
create repository export/fullstory.morgue/fll-builder.git
end repository

match /fll-builder/trunk/
	repository export/fullstory.morgue/fll-builder.git
	branch master
end match

match /fll-builder/tags/([^/]+)/
	repository export/fullstory.morgue/fll-builder.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fll-builder end


# fll-installer start
create repository export/fullstory/fll-installer.git
end repository

match /fll-installer/trunk/
	repository export/fullstory/fll-installer.git
	branch master
end match

match /fll-installer/tags/([^/]+)/
	repository export/fullstory/fll-installer.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fll-installer end


# fll-live-initramfs start
create repository export/fullstory/fll-live-initramfs.git
end repository

match /fll-live-initramfs/trunk/
	repository export/fullstory/fll-live-initramfs.git
	branch master
end match

match /fll-live-initramfs/tags/([^/]+)/
	repository export/fullstory/fll-live-initramfs.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fll-live-initramfs end


# fll-live-initscripts start
create repository export/fullstory/fll-live-initscripts.git
end repository

match /fll-live-initscripts/trunk/
	repository export/fullstory/fll-live-initscripts.git
	branch master
end match

match /fll-live-initscripts/tags/([^/]+)/
	repository export/fullstory/fll-live-initscripts.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fll-live-initscripts end


# fonts-ttf-decoratives start
create repository export/fullstory.zombie/fonts-ttf-decoratives.git
end repository

match /fonts-ttf-decoratives/trunk/
	repository export/fullstory.zombie/fonts-ttf-decoratives.git
	branch master
end match

match /fonts-ttf-decoratives/tags/([^/]+)/
	repository export/fullstory.zombie/fonts-ttf-decoratives.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fonts-ttf-decoratives end


# fonts-ttf-west-european start
create repository export/fullstory.zombie/fonts-ttf-west-european.git
end repository

match /fonts-ttf-west-european/trunk/
	repository export/fullstory.zombie/fonts-ttf-west-european.git
	branch master
end match

match /fonts-ttf-west-european/tags/([^/]+)/
	repository export/fullstory.zombie/fonts-ttf-west-european.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fonts-ttf-west-european end


# gfxboot start
create repository export/fullstory.morgue/gfxboot.git
end repository

match /gfxboot/trunk/
	repository export/fullstory.morgue/gfxboot.git
	branch master
end match

match /gfxboot/branches/upstream/current/
	repository export/fullstory.morgue/gfxboot.git
	branch upstream
end match

match /gfxboot/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/gfxboot.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /gfxboot/tags/([^/]+)/
	repository export/fullstory.morgue/gfxboot.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# gfxboot end


# gfxboot-themes-aptosid start
create repository export/fullstory/gfxboot-themes-aptosid.git
end repository

match /gfxboot-themes-(sidux|aptosid)/trunk/
	repository export/fullstory/gfxboot-themes-aptosid.git
	branch master
end match

match /gfxboot-themes-(sidux|aptosid)/tags/([^/]+)/
	repository export/fullstory/gfxboot-themes-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# gfxboot-themes-aptosid end


# grub-gfxboot start
create repository export/fullstory.morgue/grub-gfxboot.git
end repository

match /grub-gfxboot/trunk/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch master
end match

match /grub-gfxboot/branches/upstream/current/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch upstream
end match

match /grub-gfxboot/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /grub-gfxboot/tags/([^/]+)/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# grub-gfxboot end


# grub2-fll-fromiso start
create repository export/fullstory/grub2-fll-fromiso.git
end repository

match /grub2-fll-fromiso/trunk/
	repository export/fullstory/grub2-fll-fromiso.git
	branch master
end match

match /grub2-fll-fromiso/tags/([^/]+)/
	repository export/fullstory/grub2-fll-fromiso.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# grub2-fll-fromiso end


# infobash start
create repository export/fullstory/infobash.git
end repository

match /(fll-builder/branches/infobash|infobash/trunk)/
	repository export/fullstory/infobash.git
	branch master
end match

match /infobash/tags/([^/]+)/
	repository export/fullstory/infobash.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# infobash end


# install-gui start
create repository export/fullstory/install-gui.git
end repository

match /install-gui/trunk/
	repository export/fullstory/install-gui.git
	branch master
end match

match /install-gui/tags/([^/]+)/
	repository export/fullstory/install-gui.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# install-gui end


# install-usb-gui start
create repository export/fullstory/install-usb-gui.git
end repository

match /install-usb-gui/trunk/
	repository export/fullstory/install-usb-gui.git
	branch master
end match

match /install-usb-gui/tags/([^/]+)/
	repository export/fullstory/install-usb-gui.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# install-usb-gui end


# kernel-remover start
create repository export/fullstory/kernel-remover.git
end repository

match /(kanotix-kernelhacking|sidux-kernelhacking|kernel-remover)/trunk/
	repository export/fullstory/kernel-remover.git
	branch master
end match

match /(kanotix-kernelhacking|sidux-kernelhacking|kernel-remover)/tags/([^/]+)/
	repository export/fullstory/kernel-remover.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# kernel-remover end


# linux-aptosid start
create repository export/fullstory/linux-aptosid.git
end repository

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/trunk/
	repository export/fullstory/linux-aptosid.git
	branch master
end match

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/branches/([^/]+)/
	repository export/fullstory/linux-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/tags/([^/]+)/
	repository export/fullstory/linux-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# linux-aptosid end


# openfwwf start
create repository export/fullstory/openfwwf.git
end repository

match /openfwwf/trunk/
	repository export/fullstory/openfwwf.git
	branch master
end match

match /openfwwf/branches/upstream/current/
	repository export/fullstory/openfwwf.git
	branch upstream
end match

match /openfwwf/branches/upstream/([^/]+)/
	repository export/fullstory/openfwwf.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /openfwwf/tags/([^/]+)/
	repository export/fullstory/openfwwf.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# openfwwf end


# pyfll start
create repository export/fullstory/pyfll.git
end repository

match /(fll-builder/branches/pyfll|pyfll/trunk)/
	repository export/fullstory/pyfll.git
	branch master
end match

# ignore pyfll-ubuntu
match /pyfll/branches/pyfll-ubuntu/
	repository export/fullstory/pyfll.git
	branch pyfll-ubuntu
end match

match /pyfll/tags/([^/]+)/
	repository export/fullstory/pyfll.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# pyfll end


# rt61 start
create repository export/fullstory.morgue/rt61.git
end repository

match /rt61/trunk/
	repository export/fullstory.morgue/rt61.git
	branch master
end match

match /rt61/branches/upstream/current/
	repository export/fullstory.morgue/rt61.git
	branch upstream
end match

match /rt61/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/rt61.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /rt61/tags/([^/]+)/
	repository export/fullstory.morgue/rt61.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# rt61 end


# rt73-legacy start
create repository export/fullstory.morgue/rt73-legacy.git
end repository

match /rt73-legacy/trunk/
	repository export/fullstory.morgue/rt73-legacy.git
	branch master
end match

match /rt73-legacy/branches/upstream/current/
	repository export/fullstory.morgue/rt73-legacy.git
	branch upstream
end match

match /rt73-legacy/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/rt73-legacy.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /rt73-legacy/tags/([^/]+)/
	repository export/fullstory.morgue/rt73-legacy.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# rt73-legacy end


# sitar start
create repository export/fullstory.morgue/sitar.git
end repository

match /sitar/trunk/
	repository export/fullstory.morgue/sitar.git
	branch master
end match

match /sitar/branches/upstream/current/
	repository export/fullstory.morgue/sitar.git
	branch upstream
end match

match /sitar/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/sitar.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /sitar/tags/([^/]+)/
	repository export/fullstory.morgue/sitar.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# sitar end


# su-me start
create repository export/fullstory.morgue/su-me.git
end repository

match /(kanotix-su|su-me)/trunk/
	repository export/fullstory.morgue/su-me.git
	branch master
end match

match /(kanotix-su|su-me)/tags/([^/]+)/
	repository export/fullstory.morgue/su-me.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# su-me end


# sudoers-sidux start
create repository export/fullstory.morgue/sudoers-sidux.git
end repository

match /(sudoers-kanotix|sudores-sidux|sudoers-sidux)/trunk/
	repository export/fullstory.morgue/sudoers-sidux.git
	branch master
end match

match /(sudoers-kanotix|sudores-sidux|sudoers-sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/sudoers-sidux.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# sudoers-sidux end


# udev-config-aptosid start
create repository export/fullstory/udev-config-aptosid.git
end repository

match /(kanotix-udev-config|udev-config-sidux|udev-config-aptosid)/trunk/
	repository export/fullstory/udev-config-aptosid.git
	branch master
end match

match /(kanotix-udev-config|udev-config-sidux|udev-config-aptosid)/tags/([^/]+)/
	repository export/fullstory/udev-config-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# udev-config-aptosid end


# xdg-browser start
create repository export/fullstory/xdg-browser.git
end repository

match /(sidux-browser|xdg-browser)/trunk/
	repository export/fullstory/xdg-browser.git
	branch master
end match

match /(sidux-browser|xdg-browser)/tags/([^/]+)/
	repository export/fullstory/xdg-browser.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# xdg-browser end


# Ignore everything else
match /
end match
