# fullstory.rules

# acer-apci start
create repository export/fullstory.morgue/acer-acpi.git
end repository

match /acer-acpi/trunk/
	repository export/fullstory.morgue/acer-acpi.git
	branch master
end match

match /acer-acpi/branches/upstream/current/
	repository export/fullstory.morgue/acer-acpi.git
	branch upstream
end match

match /acer-acpi/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/acer-acpi.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /acer-acpi/tags/([^/]+)/
	repository export/fullstory.morgue/acer-acpi.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# acer-acpi end


# acerhk start
create repository export/fullstory.morgue/acerhk.git
end repository

match /acerhk/trunk/
	repository export/fullstory.morgue/acerhk.git
	branch master
end match

match /acerhk/branches/upstream/current/
	repository export/fullstory.morgue/acerhk.git
	branch upstream
end match

match /acerhk/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/acerhk.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /acerhk/tags/([^/]+)/
	repository export/fullstory.morgue/acerhk.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# acerhk end


# apt-conf-aptosid start
create repository export/fullstory/apt-conf-aptosid.git
end repository

match /(apt-conf-sidux|apt-conf-aptosid)/trunk/
	repository export/fullstory/apt-conf-aptosid.git
	branch master
end match

match /(apt-conf-sidux|apt-conf-aptosid)/tags/([^/]+)/
	repository export/fullstory/apt-conf-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# apt-conf-aptosid end


# aptosid-irc start
create repository export/fullstory/aptosid-irc.git
end repository

match /(kanotix-irc|sidux-irc|aptosid-irc)/trunk/
	repository export/fullstory/aptosid-irc.git
	branch master
end match

match /(kanotix-irc|sidux-irc|aptosid-irc)/tags/([^/]+)/
	repository export/fullstory/aptosid-irc.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-irc end


# aptosid-keyring start
create repository export/fullstory/aptosid-keyring.git
end repository

match /(kanotix-keyring|sidux-keyring|aptosid-keyring)/trunk/
	repository export/fullstory/aptosid-keyring.git
	branch master
end match

match /(kanotix-keyring|sidux-keyring|aptosid-keyring)/tags/([^/]+)/
	repository export/fullstory/aptosid-keyring.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-keyring end


# aptosid-manual start
create repository export/fullstory/aptosid-manual.git
end repository

match /(sidux|aptosid)-manual/trunk/
	repository export/fullstory/aptosid-manual.git
	branch master
end match

match /(sidux|aptosid)-manual/branches/upstream/current/
	repository export/fullstory/aptosid-manual.git
	branch upstream
end match

match /(sidux|aptosid)-manual/branches/upstream/([^/]+)/
	repository export/fullstory/aptosid-manual.git
	branch refs/tags/upstream/\2
	substitute branch s/~/_/
end match

match /(sidux|aptosid)-manual/tags/([^/]+)/
	repository export/fullstory/aptosid-manual.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-manual end


# aptosid-scripts start
create repository export/fullstory/aptosid-scripts.git
end repository

match /(kanotix|sidux|aptosid)-scripts/trunk/
	repository export/fullstory/aptosid-scripts.git
	branch master
end match

match /(kanotix|sidux|aptosid)-scripts/tags/([^/]+)/
	repository export/fullstory/aptosid-scripts.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# aptosid-scripts end


# ar5523 start
create repository export/fullstory.deprecated/ar5523.git
end repository

match /ar5523/trunk/
	repository export/fullstory.deprecated/ar5523.git
	branch master
end match

match /ar5523/tags/([^/]+)/
	repository export/fullstory.deprecated/ar5523.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ar5523 end


# b43-asm start
create repository export/fullstory/b43-asm.git
end repository

match /b43-asm/trunk/
	repository export/fullstory/b43-asm.git
	branch master
end match

match /b43-asm/branches/upstream/current/
	repository export/fullstory/b43-asm.git
	branch upstream
end match

match /b43-asm/branches/upstream/([^/]+)/
	repository export/fullstory/b43-asm.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /b43-asm/tags/([^/]+)/
	repository export/fullstory/b43-asm.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# b43-asm end


# busybox-sidux start
create repository export/fullstory.morgue/busybox-sidux.git
end repository

match /busybox-(kanotix|sidux)/trunk/
	repository export/fullstory.morgue/busybox-sidux.git
	branch master
end match

match /busybox-(kanotix|sidux)/branches/upstream/current/
	repository export/fullstory.morgue/busybox-sidux.git
	branch upstream
end match

match /busybox-(kanotix|sidux)/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/busybox-sidux.git
	branch refs/tags/upstream/\2
	substitute branch s/~/_/
end match

match /busybox-(kanotix|sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/busybox-sidux.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# busybox-sidux end


# ceni start
create repository export/fullstory/ceni.git
end repository

match /ceni/trunk/
	repository export/fullstory/ceni.git
	branch master
end match

match /ceni/tags/([^/]+)/
	repository export/fullstory/ceni.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ceni end


# configure-cups start
create repository export/fullstory/configure-cups.git
end repository

match /(cupsconfig-kanotix|configure-cups)/trunk/
	repository export/fullstory/configure-cups.git
	branch master
end match

match /(cupsconfig-kanotix|configure-cups)/tags/([^/]+)/
	repository export/fullstory/configure-cups.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# configure-cups end


# desktop-defaults start
create repository export/fullstory/desktop-defaults.git
end repository

match /desktop-defaults/trunk/
	repository export/fullstory/desktop-defaults.git
	branch master
end match

match /desktop-defaults/tags/([^/]+)/
	repository export/fullstory/desktop-defaults.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# desktop-defaults end


# ddcxinfo start
create repository export/fullstory.morgue/ddcxinfo.git
end repository

match /ddcxinfo-(kanotix|sidux)/trunk/
	repository export/fullstory.morgue/ddcxinfo.git
	branch master
end match

match /ddcxinfo-(kanotix|sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/ddcxinfo.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# ddcxinfo end


# firmware-carl9170 start
create repository export/fullstory.deprecated/firmware-carl9170.git
end repository

match /firmware-carl9170/trunk/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch master
end match

match /firmware-carl9170/branches/upstream/current/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch upstream
end match

match /firmware-carl9170/branches/upstream/([^/]+)/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /firmware-carl9170/tags/([^/]+)/
	repository export/fullstory.deprecated/firmware-carl9170.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# firmware-carl9170 end


# fll-builder start
create repository export/fullstory.deprecated/fll-builder.git
end repository

match /fll-builder/trunk/
	repository export/fullstory.deprecated/fll-builder.git
	branch master
end match

match /fll-builder/tags/([^/]+)/
	repository export/fullstory.deprecated/fll-builder.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# fll-builder end


# gfxboot start
create repository export/fullstory.morgue/gfxboot.git
end repository

match /gfxboot/trunk/
	repository export/fullstory.morgue/gfxboot.git
	branch master
end match

match /gfxboot/branches/upstream/current/
	repository export/fullstory.morgue/gfxboot.git
	branch upstream
end match

match /gfxboot/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/gfxboot.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /gfxboot/tags/([^/]+)/
	repository export/fullstory.morgue/gfxboot.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# gfxboot end


# grub-gfxboot start
create repository export/fullstory.morgue/grub-gfxboot.git
end repository

match /grub-gfxboot/trunk/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch master
end match

match /grub-gfxboot/branches/upstream/current/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch upstream
end match

match /grub-gfxboot/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /grub-gfxboot/tags/([^/]+)/
	repository export/fullstory.morgue/grub-gfxboot.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# grub-gfxboot end


# grub2-fll-fromiso start
create repository export/fullstory/grub2-fll-fromiso.git
end repository

match /grub2-fll-fromiso/trunk/
	repository export/fullstory/grub2-fll-fromiso.git
	branch master
end match

match /grub2-fll-fromiso/tags/([^/]+)/
	repository export/fullstory/grub2-fll-fromiso.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# grub2-fll-fromiso end


# infobash start
create repository export/fullstory/infobash.git
end repository

match /(fll-builder/branches/infobash|infobash/trunk)/
	repository export/fullstory/infobash.git
	branch master
end match

match /infobash/tags/([^/]+)/
	repository export/fullstory/infobash.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# infobash end


# linux-aptosid start
create repository export/fullstory/linux-aptosid.git
end repository

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/trunk/
	repository export/fullstory/linux-aptosid.git
	branch master
end match

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/branches/([^/]+)/
	repository export/fullstory/linux-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match

match /(linux-sidux-2.6|linux-aptosid-2.6|linux-aptosid)/tags/([^/]+)/
	repository export/fullstory/linux-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# linux-aptosid end


# openfwwf start
create repository export/fullstory/openfwwf.git
end repository

match /openfwwf/trunk/
	repository export/fullstory/openfwwf.git
	branch master
end match

match /openfwwf/branches/upstream/current/
	repository export/fullstory/openfwwf.git
	branch upstream
end match

match /openfwwf/branches/upstream/([^/]+)/
	repository export/fullstory/openfwwf.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /openfwwf/tags/([^/]+)/
	repository export/fullstory/openfwwf.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# openfwwf end


# pyfll start
create repository export/fullstory/pyfll.git
end repository

match /(fll-builder/branches/pyfll|pyfll/trunk)/
	repository export/fullstory/pyfll.git
	branch master
end match

# ignore pyfll-ubuntu
match /pyfll/branches/pyfll-ubuntu/
	repository export/fullstory/pyfll.git
	branch pyfll-ubuntu
end match

match /pyfll/tags/([^/]+)/
	repository export/fullstory/pyfll.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# pyfll end


# rt61 start
create repository export/fullstory.morgue/rt61.git
end repository

match /rt61/trunk/
	repository export/fullstory.morgue/rt61.git
	branch master
end match

match /rt61/branches/upstream/current/
	repository export/fullstory.morgue/rt61.git
	branch upstream
end match

match /rt61/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/rt61.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /rt61/tags/([^/]+)/
	repository export/fullstory.morgue/rt61.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# rt61 end


# rt73-legacy start
create repository export/fullstory.morgue/rt73-legacy.git
end repository

match /rt73-legacy/trunk/
	repository export/fullstory.morgue/rt73-legacy.git
	branch master
end match

match /rt73-legacy/branches/upstream/current/
	repository export/fullstory.morgue/rt73-legacy.git
	branch upstream
end match

match /rt73-legacy/branches/upstream/([^/]+)/
	repository export/fullstory.morgue/rt73-legacy.git
	branch refs/tags/upstream/\1
	substitute branch s/~/_/
end match

match /rt73-legacy/tags/([^/]+)/
	repository export/fullstory.morgue/rt73-legacy.git
	branch refs/tags/debian/\1
	substitute branch s/~/_/
end match
# rt73-legacy end


# su-me start
create repository export/fullstory.morgue/su-me.git
end repository

match /(kanotix-su|su-me)/trunk/
	repository export/fullstory.morgue/su-me.git
	branch master
end match

match /(kanotix-su|su-me)/tags/([^/]+)/
	repository export/fullstory.morgue/su-me.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# su-me end


# sudoers-sidux start
create repository export/fullstory.morgue/sudoers-sidux.git
end repository

match /(sudoers-kanotix|sudores-sidux|sudoers-sidux)/trunk/
	repository export/fullstory.morgue/sudoers-sidux.git
	branch master
end match

match /(sudoers-kanotix|sudores-sidux|sudoers-sidux)/tags/([^/]+)/
	repository export/fullstory.morgue/sudoers-sidux.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# sudoers-sidux end


# udev-config-aptosid start
create repository export/fullstory/udev-config-aptosid.git
end repository

match /(kanotix-udev-config|udev-config-sidux|udev-config-aptosid)/trunk/
	repository export/fullstory/udev-config-aptosid.git
	branch master
end match

match /(kanotix-udev-config|udev-config-sidux|udev-config-aptosid)/tags/([^/]+)/
	repository export/fullstory/udev-config-aptosid.git
	branch refs/tags/debian/\2
	substitute branch s/~/_/
end match
# udev-config-aptosid end


# Ignore everything else
match /
end match
